html, body {
    height: 100%;
    margin: 0;
}

.chat-main {
    min-height: 100%;
    margin-bottom: -100px;
}

.chat-list {
    width: auto;
}

#message-list-container {
    position: absolute;
    top:0;
    bottom: 0;
    width: 100%;
    overflow-y: auto;
}

.chat-footer {
    margin-bottom: 50px;
    height: 50px;
}

.chat-input-container {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

.chat-input {
    width: 80%;
    margin-right: 5px;
}

.send-button-container {
    width: 20%;
    display: inline;
}

.pop {
    display: none;
    background-color: #000;
    text-align: center;
    position:fixed!important;/* FF IE7*/
    position:absolute;/*IE6*/
    width: 100%;
    height: 100%;
    opacity:0.7;
    filter:alpha(opacity=70);
    -moz-opacity: 0.7;
    position: absolute;
    top:0;
    right:0;
    left:0;
    z-index: 3;
}

.login {
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    z-index:999;
    width: 300px;
    height: 120px;
    left:50%;
    top:50%;
    margin-left:-150px!important;/*FF IE7 该值为本身宽的一半 */
    margin-top:-60px!important;/*FF IE7 该值为本身高的一半*/
    margin-top:0px;
    position:fixed!important;/* FF IE7*/
    position:absolute;/*IE6*/
    _top:   expression(eval(document.compatMode &&
            document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
            document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);/*IE5 IE5.5*/
}

.login-body {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
}

#login-loading {
    display: none;
}